%h1 Welcome to ShapeRMIT Discussions!

- if current_user_or_visitor.is_logged_in?
  %p
    Welcome back! You can now access your
    = link_to t(:dashboard), dashboard_path
    or explore
    = link_to 'Public Groups', explore_path
- else
  %p
    To join in the discussions, simply
    = link_to t(:log_in), new_user_session_path(return_to: request.original_url), class: 'login'
    and then "Connect ShapeRMIT account" and you'll be able to access the discussions.
