@font-face {
  font-family: "Museo-500";
  src: url("../font/2E2515_0_0.eot");
  src: url("../font/font/2E2515_0_0.eot?#iefix") format("embedded-opentype"), url("../font/font/2E2515_0_0.woff2") format("woff2"), url("../font/font/2E2515_0_0.woff") format("woff"), url("../font/font/2E2515_0_0.ttf") format("truetype");
}

.test {
 color: red;
 font-weight: 900;
}

body {
 color: #333 !important; 
}

h1 {
 font-family: 'Museo-500';
}

h2{
 font-family: 'Museo-500';   
}

h3{
 font-family: 'Museo-500';   
}

h4{
 font-family: 'Museo-500';   
}

h5{
 font-family: 'Museo-500';   
}

h6{
 font-family: 'Museo-500';   
}



.navbar-fixed-top {
  border-bottom: 0px solid #dbdbdb;
  box-shadow: none;
  background: #333333;
}

.navbar .container {
  background-color: #333;
  max-width: 980px;
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.navbar > .container .navbar-brand {
  margin-left: 0px;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}

.navbar-brand {
  float: left;
  padding: 0px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}

.navbar li > a {
  color: #727272;
  display: block;
  padding: 0px;
  line-height: 18px;
}

.navbar li {
  margin-top: 1px;
  text-transform: capitalize;
}

.main-container {
  background: #fff;
  margin-top: 30px;
}

.nav-float-right {
  float: right;   
}

li.dropdown#user {
  float: left;
  max-width: 300px;
  height: auto;
  padding-top: 9px;
}

.child-navigation {
  color: #adadad;
  display: inline;
  margin: 0;
  float: left;
  padding: 10px 0px 3px 0px;
  border-bottom: 0px;
  text-transform: uppercase;
  font-weight: auto;
  font-size: 0.85714em;
  margin-right: 0px;
  margin-left: -46px;
}

.child-navigation ul {
   display: inline-flex;  
   float: right;
}

.child-navigation li {
  margin-left: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.user-menu-list {
      padding: 0px;
    margin-left: 10px;
}

.navbar li#inbox-container {
  float: left;
  position: relative;
  margin-right: 25px;
  margin-top: 1px;
}

.user-assets {
 padding-top: 10px;   
 margin-right: 0px;
 padding-right: 0px;
}

input#search_form_query {
  height: auto;
  width: 103px;
  color: #6a6767;
  top: 0px;
  padding: 5px 35px 2px 5px;
  font-size: 1.286em;
  border: 0px solid #d1d1d1;
  background-color: #ededed !important;
  color: #666666;
  border-radius: 0px;
  font-family: "Museo-500";
  box-shadow: none;
  font-size: 14px;
}

.input-group-addon {
  padding: 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: #eeeeee;
  border: 0px;
  border-radius: 0px;
  padding-right: 5px;
  background-color: #ededed !important;
}

.app-logo {
  width: 182px;
  margin: 9px 0 0 10px;
  height: 64px;
  background: 0 0 no-repeat;
  background-size: contain;
}

.navbar .navbar-header {
  width: 100%;
  padding-top: 10px;
}

.app-logo.second-logo {
  width: 180px;
  margin-top: 6px;
  margin-left: 15px;
}

.header-top {
  margin-bottom: 20px;
}

body {
  color: #333;
  margin-top: 0px;
}

body {
  background: url('/assets/background-abstract-placeholder.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: -10px 185px;
  background-color: #dcddd7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: normal;
}

.navbar-default {
  background-color: #333;
  border: 0px;
  border-radius: 0px;
}

li.dropdown#user #header-user-image {
  position: relative;
  bottom: 5px;
  margin-right: 5px;
  display: none;
}

li.dropdown#groups .dropdown-toggle {
  width: 80px;
}

.navbar-nav {
 float: right;   
}

.child-navigation ul a {
  color: #adadad;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 11.4px;
}

.child-navigation ul a:hover {
  color: white;
}

span#user-name-dropdown {
  color: #adadad;
}

li.dropdown#user .dropdown-menu {
  min-width: 128px;
  margin-top: 1px;
  margin-left: 4px;
  border-radius: 0px;
  border: none;
  background: #333333;
}

.navbar-header .dropdown-menu li > a:hover {
 background-color: #dc291e;   
}

li.dropdown#user .dropdown-menu a {
  margin-top: 0px;
  display: block;
  padding: 0px 27px 0px 20px;
  clear: both;
  font-weight: 100;
  letter-spacing: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: white;
  white-space: nowrap;
}

span#user-name-dropdown:active {
  color: white;
}

.container {
 max-width: 960px;   
}

.navbar-form {
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px 0px;
  border-top: 0px;
  border-bottom: 0x;
  box-shadow: none;
  margin-top: -6px !important;
  margin-bottom: 0px;
}

.navbar .fa {
  height: 17px;
}

.navbar .fa-search {
  color: #888;
  font-size: 15px;
}

.navbar-default .navbar-nav > li > a:hover {
 color: white;   
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
 background-color: transparent;
  color: white;   
}

li.dropdown#groups .dropdown-menu {
  min-width: 230px;
  padding-bottom: 0;
  border: 0px;
  border-radius: 0px !important;
  padding-top: 0px;
  margin-top: 5px;
}

li#groups ul.dropdown-menu li.group-item.group-links a {
  font-size: 13px;
  padding: 12px;
  text-align: center;
  color: #08C;
}

input.group-dropdown-search {
  padding: 7px;
  width: 100%;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}

#group-dropdown-items a {
  padding: 0px 5px 5px 15px;
}

.navbar #notifications-container .dropdown-menu {
  width: 270px;
  padding-bottom: 0;
  border: 0px;
  border-radius: 0px;
  margin-top: 5px;
}

.btn {
  border-radius: 0px;
  border: 0px;
}

.footer-right {
  text-align: right;
  margin-bottom: 20px;
  padding-right: 0px;
}

.footer-left {
  margin-bottom: 25px;
  padding-left: 0px;
}

.footer-center {
  text-align: center;
}

.footer {
  border-top: 0px;
  margin-top: 20px !important;
  padding: 0px;
  /* font-size: 12px; */
  line-height: 1.4em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .857142em;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  color: #333;
  padding-top: 15px;
  max-width: 960px;
  margin: auto;
}













.child-navigation-sign-log {
  color: #adadad;
  display: inline;
  margin: 0;
  float: left;
  padding: 10px 0px 3px 0px;
  border-bottom: 0px;
  text-transform: uppercase;
  font-weight: auto;
  font-size: 0.85714em;
  margin-right: 0px;
  margin-left: 0px;
}

.child-navigation-sign-log ul {
   display: inline-flex;  
   float: left;
}

.child-navigation-sign-log li {
  margin-left: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.child-navigation-sign-log ul a {
  color: #adadad;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 11.4px;
}

.child-navigation-sign-log ul a:hover {
  color: white;
}


.invitations.show, .sessions.new, .registrations.create, .registrations.new, .contact_messages.new, .contact_messages.create, .pages.donate, .pages.home, .pages.about, .pages.blog, .pages.privacy, .pages.services, .pages.terms_of_service, .pages.third_parties, .pages.translation, .pages.purpose, .pages.how_it_works, .pages.about_us, .pages.crowd, .pages.wallets, .woc.index, .we_the_people.index {
 background-color: #DCDDD7;   
}

img.loomio-globe {
  margin-bottom: 20px;
  margin-top: 30px;    
}

h1.login-title {
  margin-top: 30px;
}

.login-link {
  color: #dc291e;
}

i.fa.fa-chevron-right.login-link a {
  color: #dc291e;
}

i.fa.fa-chevron-right.login-link {
  margin-top: 10px;
}

body.welcome.index .navbar-header .navbar.navbar-top {
  margin-bottom: 0px;
}

body.welcome.index .navbar .navbar-header {
  padding-top: 5px;
}

.sessions.new p {
  margin-bottom: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 1.4em !important;
  letter-spacing: normal !important;
}

.sessions.new .container .signin_container .login {
  background-color: #dc291e;
  color: white;   
}

.sessions.new .container .signin_container .login:hover {
  background-color: red;
  color: white;   
}

.page-container {
  margin-top: 0px;
  padding: 50px 30px 50px 40px;
}

.dashboard .page-container {
    padding: 45px 30px 50px 20px;
}

.discussions .page-container {
    padding: 45px 30px 50px 20px;
}

.users .page-container {
    padding: 45px 30px 50px 20px;
}

.groups .page-container {
    padding: 0px;
}

body.discussions.show .selector-panel {
 border-radius: 0px;   
}

body.discussions.show #content-comments {
  border-right: 0px;
  padding: 10px 10px 10px 15px;
}

body.discussions.show .selector-panel {
  background-color: #ebebeb;
  border-radius: 8px;
  border: 0px;
  margin: 0 0 20px 0;
  min-height: 59px;
}

body.discussions.show #discussion-content-container {
  background-color: white;
  border-top: 0px;
  border-bottom: 0px;
  padding-bottom: 20px;
  margin-bottom: 5px;
}

ul.selector-list li.selector-item {
  background-color: white;
  border-bottom: 0px;
  color: #555;
  font-weight: normal;
}

body.groups.show .group-heading {
  background: url(/assets/default-cover-photo.png) 0 0 no-repeat;
  margin: -0px -15px 0 -15px;
  position: relative;
  height: 200px;
  max-width: 1170px;
  background-position-y: bottom;
  background-position-x: center;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 0px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

body.discussions.show #discussion-content-container #discussion-context {
  border-bottom: 1px solid #E6E6E6;
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  min-height: 70px;
  padding: 15px 10px 10px 15px;
  margin-bottom: 20px;
}

.group-title .home-title {
  color: #727272;
  display: inline;
  font-size: 18px !important;
}

.group-title .home-title a:before {
  content: "\f054";
  font-family: fontawesome;
  font-size: 12px;
  margin-right: 4px;
  display: inline-block;
}

.groups .home-title a:before {
  display: none;
}

.groups .home-title {
  display: inline;
  font-size: 26px !important;
}

.discussion-preview {
  float: left;
  height: 47px;
  width: 100%;
}

ul.selector-list.bordered {
  border-top: 0px;
}

body.groups.show .discussion-preview .discussion-title:before {
  content: "\f054";
  font-family: fontawesome;
  margin-right: 5px;
  display: inline-block;
  color: #dc291e;
}

.discussion-preview .group-name {
  color: #777;
  font-size: 0.9em;
  margin-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.group-link-name {
  font-weight: normal;
}

.row.discussion-header-container {
  margin-top: -10px;
}

.discussion-preview .discussion-title:before {
  content: "\f054";
  font-family: fontawesome;
  margin-right: 5px;
  display: inline-block;
  color: #dc291e;
}